$fuente_principal: "Poppins", sans-serif;
$fuente_secundaria: "Playfair Display", serif;

//Colores Principales
$primario: #F96D8D;
$secundario: #F75C83;
$claro: #F8B6C2;
$card_bg: #FFD9E0;
$button: #D94E74;
$button_hover: #C53D63;
$oscuro: #4A1E23;
$blanco: #FFFFFF;

//Dorados del Perfume
$gold_light: #E7B36A;
$gold_main: #D89A4D;
$gold_dark: #B87432;

//Sombras Suaves
$shadow_pink: rgba(217, 78, 116, 0.25);
$shadow_dark: rgba(0, 0, 0, 0.12);


//Medias Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;


