@use '../base/variables' as v;
@use '../base/mixins' as m;

.promo-bar {
    background-color: v.$secundario;
    color: v.$blanco;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2rem;

    p {
        display: inline-block;
        animation: scroll-promo 20s linear infinite;
        margin: 0 4rem;
    }
    /*p:not(:first-child) {
        display: none;
    }*/
    @include m.tablet {
        p {
            display: inline-block;
        }
    }

    @keyframes scroll-promo {
        0% { transform: translateX(100vw); }
        100% { transform: translateX(-100%); }
    }
}